simulation:
  request_id: abcdef12345
  # (RequestID) to identify each request.

  client_id: dt
  # Unique identifier of the sender of this simulation request

  simulator: anylogic
  # Specifies the target system for the simulation.
  # Use 'anylogic' to route the request to the ANYLOGIC simulator.

  type: streaming
  # Specifies the simulation execution mode.
  # Options:
  #   - 'batch': runs the simulation in batch mode, where results are returned only after the entire computation is complete.
  #   - 'streaming': runs the simulation in streaming mode, providing real-time updates at each computation step.
  #   - 'interactive': same as 'streaming', where you need to provide a continuous stream of inputs and outputs.
  
  file: SimulationStreaming.alp
  # The name of the MATLAB script or function file to execute for this simulation.

  inputs:
    # Input variables to be passed to the simulation.
    # If the simulation type is 'interactive', it is mandatory to specify 'stream_source' to indicate the source of the input stream.
    # stream_source: The source of the input stream, e.g., RabbitMQ, which streams real-time input data to the simulation.
    # This is required for interactive simulations.
    stream_source: # Source of the input stream, typically RabbitMQ for streaming mode.

    i1: ..
    i2: ..
    i3: ..

  outputs:
    # Expected output variables from the simulation.
    # Customize these keys based on what outputs your simulation provides.
    o1: ..
    o2: ..
    o3: ..
    o4: ..
