[run]
omit =
    agents/*
    certs/*
    client/*
    dist/*
    images/*
    simulation_bridge/docs/*
    simulation_bridge/resources/*
    simulation_bridge/test/*
    */venv/*
    */.venv/*
    */__init__.py

[report]
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover
