[run]
omit =
    */tests/*
    */venv/*
    */.venv/*
    */__init__.py
    */simul8_agent/docs/*
    */simul8_agent/resources/*

[report]
exclude_lines =
    if __name__ == .__main__.:
    pragma: no cover