simulation:
  request_id: abcdef12345
  client_id: dt
  simulator: anylogic
  type: interactive
  file: simulation.alp
  inputs:
    stream_source: "rabbitmq://streaming.inputs.sim123"
    i1: "placeholder_for_input_1"
  outputs:
    o1: "placeholder_for_output_1"
